@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #1e2235;
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

nav {
  width: 100%;
  display: inline-block;
}

nav img {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
  font-weight: 300;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

/* nav ul li::after {
    content: " ";
    border-left: 1px solid #fff;
}

nav ul li:last-child::after {
    content: " ";
    border: none;
} */

nav ul li a:last-child {
  margin-left: 10px;
}

.line {
    border-left: 1px solid #fff;
}

.btn-outline {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px solid #8b5cf6;
    background-color: #8b5cf6;
    padding: 10px 15px;
    border-radius: 5px;
}

.banner-header {
    height: 100%;
    padding-top: 5rem;
}

.banner-header .left {
    float: left;
    width: 50%;
}

.banner-header .right {
    float: right;
    width: 50%;
}

div h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #8b5cf6;
    letter-spacing: 2px;
}

div h1 {
    margin-top: 20px;
    font-size: 2.9rem;
}

div p {
    margin: 20px 0 60px 0;
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.2rem;
}

div .mini-message {
    font-size: 0.9rem;
}